<!--mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
	<mat-option *ngFor="let rm of rooms$ | async" [value]="rm">
		{{rm.room_name}}
	</mat-option>
</mat-autocomplete-->

<form class="container" [formGroup]="eventsForm" (ngSubmit)="onSubmit()" *ngIf="this.rooms.length > 0">
	<div formArrayName="events" *ngFor="let evt of events.controls; let i=index">

		<mat-card class="event-card">
			<mat-card-content>
				<div [formGroupName]="i">
					<mat-form-field appearance="fill" class="stretch">
						<mat-label>Name:</mat-label>
						<input matInput type="text" formControlName="name">
					</mat-form-field>

					<div>
						<mat-form-field appearance="fill" class="dow-field">
							<mat-label>Wochentag:</mat-label>
							<mat-select formControlName="dow">
								<mat-option [value]="di" *ngFor="let d of dowList; let di=index">{{d}}</mat-option>
							</mat-select>
						</mat-form-field>

						<mat-form-field class="time-field" appearance="fill">
							<mat-label>Von:</mat-label>
							<input matInput type="text" formControlName="start" >
						</mat-form-field>

						<mat-form-field class="time-field" appearance="fill">
							<mat-label>Bis:</mat-label>
							<input matInput type="text" formControlName="end">
						</mat-form-field>
					</div>
					<div>
						<app-room-list class="stretch" (change)="roomChange(evt.get('room_ids')?.value, i)"
							label="Rooms"
							style="width: 100%;"
							[options]="this.rooms"
                            [selectedRooms]="evt.get('room_ids')?.value"
						></app-room-list>
					</div>

					<!--mat-form-field class="stretch" appearance="fill" (click)="click()">
						<mat-label>Rooms</mat-label>
						<mat-chip-list #chipList aria-label="Room selection" [disabled]="evt.disabled" id="chiplist_{{events.at(i).get('id')}}">
							<mat-chip *ngFor="let rid of events.at(i).get('room_ids')?.value"
									(removed)="remove_room(rid, i)">
								{{rooms[rid].room_name}}
								<button matChipRemove>
									<mat-icon>cancel</mat-icon>
								</button>
							</mat-chip>
							<input matInput

								id="rooms_{{events.at(i).get('id')}}"
								(focus)="selectInput(i, $event)"
								(blur)="unSelectInput()"
								[matAutocomplete]="auto"
								[matChipInputFor]="chipList"
								[matChipInputSeparatorKeyCodes]="separatorKeysCodes">
						</mat-chip-list>
					</mat-form-field>
					<div *ngIf="evt.get('room_ids')?.value.length == 0">Rooms cannot be empty</div-->

					<button mat-raised-button color="primary" [disabled]="!evt.dirty || evt.invalid" (click)="save(i)" type="button">
						<mat-icon>save</mat-icon> Save
					</button>
					<button *ngIf="!evt.disabled && evt.get('id')?.value != 0" mat-stroked-button color="warn" (click)="removeEvent(i)" type="button">
						<mat-icon>delete</mat-icon> Remove
					</button>
					<button *ngIf="evt.disabled" mat-stroked-button color="primary" (click)="enableEvent(i)" type="button">
						<mat-icon>delete_outline</mat-icon> Enable
					</button>
					<!--
					{{events.at(i).invalid | json}}
					{{evt.get('room_ids')?.value | json }}
					{{evt.get('room_ids')?.value.length == 0 | json}}
					-->
				</div>
			</mat-card-content>
		</mat-card>
	</div>

</form>

<button mat-raised-button color="primary" (click)="add()" type="button">
	<mat-icon>add</mat-icon> Add
</button>

<div *ngIf="!env.production">
	<br style="clear: both;">
	<pre>{{this.eventsForm.value | json}}</pre>
</div>