<div fxLayout="row" fxLayout fxLayout.xs="column" fxLayoutGap="20px">
    <mat-form-field appearance="fill" fxFlex="0 1 auto">
        <mat-label>Choose a date</mat-label>
        <input matInput required
            [matDatepicker]="date"
            [formControl]="shared.selectedDate"
            (dateChange)="dateChange('change', $event)">
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker #date></mat-datepicker>
    </mat-form-field>
    <div fxFlex="grow shrink 100%" id="text" [innerHTML]="text"></div>
</div>

<mat-table [dataSource]="shared.stamps$">

    <ng-container matColumnDef="sAMAccountName">
        <th mat-header-cell *matHeaderCellDef>Login Name</th>
        <td mat-cell *matCellDef="let element"> {{element.sAMAccountName}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Person</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="event">
        <th mat-header-cell *matHeaderCellDef>Veranstaltung</th>
        <td mat-cell *matCellDef="let element"> {{element.event}} </td>
    </ng-container>

    <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef>Standort</th>
        <td mat-cell *matCellDef="let element"> {{element.location}} </td>
    </ng-container>

    <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef>Zeit</th>
        <td mat-cell *matCellDef="let element"> {{element.time | date: 'dd.MM.YYYY HH:mm'}} </td>
    </ng-container>

    <ng-container matColumnDef="uid">
        <th mat-header-cell *matHeaderCellDef>Badge ID</th>
        <td mat-cell *matCellDef="let element"> {{element.uid}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</mat-table>
